@import "src/styles/styles";

.board {
  height: 90vh;
  width: 70vw;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;

  background-color: rgb(49, 47, 47);
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  // z-index: 20;
}

.board-column {
  position: relative;
  width: 120px;
  height: 99%; //?

  margin: 2px 14px;

  background-color: rgb(49, 47, 47);
  opacity: 1;
  transition: background-color 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgb(65, 63, 63);
  }
  // z-index: 20;
}

.column-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  // justify-content: space-evenly;
  align-items: center;
}

.board-hole {
  // bottom: 0px;
  background-color: $light-background;
  // height: 80px;
  // width: 80px;

  // width: 12vh;
  // height: 12vh;

  // border: 1000px solid black;

  min-width: 11vh;
  max-width: 11vh;
  min-height: 11vh;
  max-height: 11vh;

  margin: 4px;
  border-radius: 100%;

  // z-index: 2;
}

.board-token {
  // bottom: 0px;
  background-color: $light-background;

  // height: 80px;
  // width: 80px;

  min-width: 11vh;
  max-width: 11vh;
  min-height: 11vh;
  max-height: 11vh;

  // width: 12vh;
  // height: 12vh;
  margin: 4px;
  border-radius: 100%;

  animation: dropToken 200ms linear;
  z-index: 7;
}

.red-background-color {
  background-color: $red-player-color;
}

.blue-background-color {
  background-color: $blue-player-color;
}

.red-color {
  color: $red-player-color;
}

.blue-color {
  color: $blue-player-color;
}

@keyframes dropToken {
  0% {
    translate: 0 -100vh;
  }

  100% {
  }
}

.winner-animation {
  position: absolute;

  display: flex;
  align-items: center;

  padding: 0 8vh;

  font-weight: bold;
  font-size: 20vh;

  animation: winnerAnimation 200ms forwards;
  // background-color: rgb(148, 148, 148);

  height: 40vh;

  // width: auto;

  z-index: 10;

  .winner-animation-title {
    color: rgb(224, 225, 227);
    text-shadow: 0px 0px 100px rgb(218, 218, 218), 2px 2px 4px black;
  }
}

@keyframes winnerAnimation {
  0% {
    top: -200vh;
    opacity: 0%;
  }

  100% {
    top: 25vh;
    opacity: 100%;
  }
}
