<div class="board">
  <div
    class="board-column"
    *ngFor="let column of [].constructor(boardWidth); let columnIndex = index"
    (click)="playerAddToken(columnIndex)"
  >
    <div class="column-container">
      <div
        class="board-hole"
        *ngFor="
          let boardHole of [].constructor(boardHeight);
          let rowIndex = index
        "
      ></div>
    </div>

    <div class="column-container">
      <div
        class="board-token"
        *ngFor="
          let boardHole of [].constructor(board.getColumnHeight(columnIndex));
          let rowIndex = index
        "
        [ngClass]="{
          'blue-background-color': board.isCellBlue(columnIndex, rowIndex),
          'red-background-color': board.isCellRed(columnIndex, rowIndex)
        }"
      ></div>
    </div>

    <!-- <span>{{ this.board.getColumnHeight(columnIndex) }}</span> -->
    <!-- REMOVE THIS; FOR DEBUGGING pURPOSES -->
  </div>

  <!-- Winner animation -->
  <div *ngIf="winnerAnimation" class="winner-animation">
    <div class="winner-animation-title">
      <span *ngIf="board.turnOfPlayer !== BoardCell.Empty">
        <span
          [ngClass]="{
            'blue-color': board.turnOfPlayer === BoardCell.Player1,
            'red-color': board.turnOfPlayer === BoardCell.Player2
          }"
          >{{ board.turnOfPlayer === BoardCell.Player1 ? "Blue" : "Red" }}</span
        >
        wins!
      </span>
      <span *ngIf="board.turnOfPlayer === BoardCell.Empty">Draw!</span>
    </div>
  </div>
  <i class="pi pi-times back-button" (click)="this.exitToMainMenu()"></i>
</div>
