@import "src/styles/styles";

.board {
  height: 90vh;
  width: 120vh; //ensures same ratio independent of window size
  background-color: $dark-background;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 20px 20px 0 0;
}

.token-column-container {
  flex: 1;
  height: 95%;
  padding-bottom: 2%;
  background-color: $dark-background;
  transition: background-color 200ms ease-in-out;
  border-radius: 10px 10px 0 0;
  &:hover {
    background-color: rgb(63, 63, 63);
  }

  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

.token-container {
  position: relative;
  width: 60%;
  padding-bottom: 60%;
}

.token {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.empty {
  background-color: $light-background;
  z-index: 10;
}
.player {
  z-index: 11;
  animation: dropToken 250ms linear;
}

.red-background-color {
  background-color: $red-player-color;
}

.blue-background-color {
  background-color: $blue-player-color;
}

.red-color {
  color: $red-player-color;
}

.blue-color {
  color: $blue-player-color;
}

@keyframes dropToken {
  0% {
    translate: 0 -100vh;
  }

  100% {
  }
}

.winner-animation {
  position: absolute;

  display: flex;
  align-items: center;

  padding: 0 8vh;

  font-weight: bold;
  font-size: 20vh;

  animation: winnerAnimation 200ms forwards;
  // background-color: rgb(148, 148, 148);

  height: 40vh;

  // width: auto;

  z-index: 13;

  .winner-animation-title {
    color: rgb(224, 225, 227);
    text-shadow: 0px 0px 100px rgb(218, 218, 218), 2px 2px 4px black;
  }
}

@keyframes winnerAnimation {
  0% {
    top: -200vh;
    opacity: 0%;
  }

  100% {
    top: 25vh;
    opacity: 100%;
  }
}
