/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~primeicons/primeicons.css";
@import "src/styles/variables";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red-background-color {
  background-color: $red-player-color;
}

.blue-background-color {
  background-color: $blue-player-color;
}

.red-color {
  color: $red-player-color;
}

.blue-color {
  color: $blue-player-color;
}
