<div class="background">
  <app-board (endGame)="this.menuActive = true"></app-board>

  <div class="highscore">
    <div class="title">Highscore</div>
    <div class="main-panel">
      <div class="subpanel blue">
        {{ this.gameSettingsService.getBluePlayerWins() }}
      </div>
      <div class="subpanel red">
        {{ this.gameSettingsService.getRedPlayerWins() }}
      </div>
    </div>
  </div>
</div>

<div
  class="menu"
  [ngClass]="{
    disappear: !menuActive,
    appear: menuActive && !this.isAppStartup
  }"
  [ngStyle]="{ 'animation-duration': overlayAnimationSpeed + 'ms' }"
>
  <span class="game-title"
    ><span class="blue-color">Connect </span> - -
    <span class="red-color">four</span></span
  >
  <div class="menu-item" (click)="newGame()">Play</div>
  <div class="menu-item" (click)="this.gameSettingsService.toggleDifficulty()">
    Toggle difficulty: {{ displayDifficulty() }}
  </div>
  <div class="menu-item" (click)="this.gameSettingsService.toggleGameMode()">
    Toggle game mode: {{ displayGameMode() }}
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
