<div class="background">
  <!-- Board -->
  <app-board
    *ngIf="!menusAreVisible"
    (endGame)="this.menusAreVisible = true"
  ></app-board>

  <!-- Highscore -->
  <div class="highscore">
    <div class="title">Highscore</div>
    <div class="main-panel">
      <div class="subpanel blue">
        {{ this.gameSettingsService.getBluePlayerWins() }}
      </div>
      <div class="subpanel red">
        {{ this.gameSettingsService.getRedPlayerWins() }}
      </div>
    </div>
  </div>
</div>

<!-- Main menu-->
<div
  class="menu"
  [ngClass]="{
    'fade-out': !menusAreVisible,
    'fade-in': menusAreVisible && !this.isAppStartup,
  }"
>
  <span class="game-title"
    ><span class="blue-color">Connect </span> - -
    <span class="red-color">four</span></span
  >
  <div class="menu-item" (click)="newGame()">Play</div>
  <div
    class="menu-item"
    (click)="this.activeMenu = ActiveMenuEnum.SettingsMenu"
  >
    Settings
  </div>
  <div class="menu-item" (click)="this.activeMenu = ActiveMenuEnum.HelpMenu">
    Help
  </div>
</div>

<!-- Settings menu-->
<div
  class="menu"
  *ngIf="this.activeMenu === ActiveMenuEnum.SettingsMenu"
  [ngClass]="{
    'sub-menu-slide-in': this.activeMenu === ActiveMenuEnum.SettingsMenu,
    'sub-menu-slide-out': this.activeMenu !== ActiveMenuEnum.SettingsMenu,
    }"
>
  <div class="game-title">Settings</div>
  <div class="menu-item" (click)="this.gameSettingsService.toggleDifficulty()">
    Toggle difficulty: {{ displayDifficulty() }}
  </div>
  <div class="menu-item" (click)="this.gameSettingsService.toggleGameMode()">
    Toggle game mode: {{ displayGameMode() }}
  </div>
  <div class="menu-item" (click)="this.resetHighscore()">Reset highscore</div>
  <i
    class="pi pi-chevron-left back-button"
    (click)="this.activeMenu = ActiveMenuEnum.MainMenu"
  ></i>
  <p-toast></p-toast>
</div>

<div
  class="menu"
  *ngIf="this.activeMenu === ActiveMenuEnum.HelpMenu"
  [ngClass]="{
    'sub-menu-slide-in': this.activeMenu === ActiveMenuEnum.HelpMenu,
    'sub-menu-slide-out': this.activeMenu !== ActiveMenuEnum.HelpMenu
  }"
>
  <div class="game-title">Help</div>

  <i
    class="pi pi-chevron-left back-button"
    (click)="this.activeMenu = ActiveMenuEnum.MainMenu"
  ></i>
  <p class="help-description">
    Win the game by connecting four tokens of your color in a row. <br />
    You can use the mouse button or number keys to set tokens. <br />
  </p>
  <p class="help-description">May the best color win!</p>
</div>
