@import "src/styles/styles";

* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: $light-background;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.highscore {
  z-index: 10;
  background-color: $dark-background;
  width: 200px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;

  .title {
    background-color: $light-background;
    display: flex;
    flex: 0.8;
    text-align: center;
    justify-content: center;
    line-height: 100%;
    font-size: x-large;
    margin: 4px;
  }
  .main-panel {
    display: flex;
    flex: 1;
    margin: 0 4px 4px 4px;

    .subpanel {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      width: 100%;
    }

    .blue {
      background-color: $blue-player-color;
    }

    .red {
      background-color: $red-player-color;
    }
  }
}

.menu {
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;
  width: 100%;
  background-color: $dark-background; //opacity?
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}

.hidden {
  display: none;
  opacity: 0;
  // background-color: red;
}

.game-title {
  font-size: 50px;
  font-weight: bolder;
  color: $light-misc;
  margin-bottom: 20px;
}

.menu-item {
  background-color: rgb(148, 148, 148);
  width: 30vw;
  height: 15vh;
  border-radius: 4px;

  margin: 20px;

  font-size: x-large;
  font-weight: bold;
  display: flex;
  // text-align: center;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;

  &:hover {
    cursor: pointer;
    background-color: rgb(224, 225, 227);
  }
}

.help-description {
  color: $light-misc;
  font-size: xx-large;
  line-height: 60px;
  margin: 40px;
}

.back-arrow {
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 10vh;
  color: $light-misc;
}

.fade-out {
  animation: disappear 500ms forwards;
}

.fade-in {
  animation: appear 500ms forwards;
}

.sub-menu-slide-in {
  animation: sub-menu-slide-in 200ms forwards ease-in-out;
}

.sub-menu-slide-out {
  animation: sub-menu-slide-in 200ms forwards ease-in-out;
}

.main-menu-slide-in {
  animation: main-menu-slide-in 200ms forwards ease-in-out;
}

.main-menu-slide-out {
  animation: main-menu-slide-in 200ms forwards ease-in-out;
}

//animations
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes sub-menu-slide-in {
  0% {
    transform: translateX(20vw);
    display: none;
  }
  100% {
    transform: translateX(0vw);
    display: flex;
  }
}

@keyframes sub-menu-slide-out {
  0% {
    transform: translateX(0vw);
    display: flex;
  }
  100% {
    transform: translateX(20vw);
    display: none;
  }
}

@keyframes main-menu-slide-in {
  0% {
    transform: translateX(-20vw);
    display: flex;
  }
  100% {
    transform: translateX(0vw);
    display: none;
  }
}

@keyframes main-menu-slide-out {
  0% {
    position: 0vw;
  }
  100% {
    position: -20vw;
  }
}
