* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(100, 100, 100);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 100, 100);
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.highscore {
  background-color: rgba(37, 37, 37, 1);
  width: 200px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex space-between;
  flex-direction: column;

  .title {
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 100%;
    font-size: x-large;
    margin: 4px;
    height: 40%;
  }
  .main-panel {
    display: flex;
    flex-direction: row;
    margin: 0 4px 4px 4px;
    height: 60%;

    .subpanel {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      width: 100%;

      .blue {
        color: blue;
      }

      .red {
        color: red;
        background-color: red;
      }
    }
  }
}

.menu {
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;
  width: 100%;
  background-color: rgba(37, 37, 37, 1); //opacity?
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-fill-mode: forwards;
}

.hidden {
  display: none;
  opacity: 0;
  // background-color: red;
}

.menu-item {
  background-color: rgb(148, 148, 148);
  width: 30vw;
  height: 15vh;
  border-radius: 4px;

  margin: 20px;

  font-size: x-large;
  font-weight: bold;
  display: flex;
  // text-align: center;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms;

  &:hover {
    cursor: pointer;
    background-color: rgb(224, 225, 227);
  }
}

.disappear {
  // pointer-events: none;
  animation-name: disappear;
}

.appear {
  // pointer-events: auto;
  animation-name: appear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}
